<img class="logo_angular" src="./assets/img/angular-logo.png">
<h3 class="home_title" >{{ 'HOME.TITLE' | translate }}</h3>
<h4 class="home_slogan">{{ 'HOME.SLOGAN' | translate }}</h4>
<md-tab-group>
  <md-tab>
    <template md-tab-label>
      <span class="menu_option">Features</span>
      <span class="icon"><md-icon>fingerprint</md-icon></span>
    </template>
    <home-features [elements]="features"></home-features>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <span class="menu_option">Technologies</span>
      <span class="icon"><md-icon>code</md-icon></span>
    </template>
    <home-technologies [elements]="techs"></home-technologies>
  </md-tab>
</md-tab-group>