<div class="home-container">
  <div class="home-item">
    <home-logo></home-logo>
  </div>
  <div class="home-item">
    <div class="home-tab-header">
      <div class="home-tab-button" (click)="tabActive.value = 'features'">
        <span class="menu_option">Features</span>
        <span class="icon"><i class="material-icons">fingerprint</i></span>
      </div>
      <div class="home-tab-button" (click)="tabActive.value = 'technologies'">
        <span class="menu_option">Technologies</span>
        <span class="icon"><i class="material-icons">code</i></span>
      </div>
    </div>
    <div class="home-tab-content">
      <home-features 
        *ngIf="tabActive.value === 'features'" 
        [elements]="features"></home-features>
      <home-technologies 
        *ngIf="tabActive.value === 'technologies'" 
        [elements]="techs"></home-technologies>
    </div>
  </div>
</div>