home-main {
  .home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: -250px;
  }

  .home-item {
    flex: 0 0 1 auto auto;
    padding: 15px;
    max-width: 1000px;
    width: 100%;
  }

/*
  .md-tab-body-wrapper {
    margin-bottom:80px;
  }
  
  .md-tab-header {
    border-bottom: 0px;
    color: #FFF;
    margin-top:33px;
    .md-tab-label {
      opacity: 1;
      position: relative;
      font-size: 1.1em;
      letter-spacing: 0.040em;
      text-align:left;
    }
    .text {
      padding-right: 10px;
    }
    .icon {
      position: absolute;
      top: 6px;
      right: 10px;
      display: none;
      @media screen and (min-width: 480px) {
        display: block;
      }
    }
    md-ink-bar {
      height: 4px;
    }
  }
  */
}
