home-main {

  .home-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-top: -250px;
  }

  .home-tab-content {
    margin-top: 53px;

    .md-tab-label {
      color: white;

      .icon {
        top: 7px;
        position: relative;
      }

    }
  }

  .home-item {
    flex: 0 0 1 auto auto;
    padding: 15px;
    max-width: 1000px;
    width: 100%;
  }

}
