<div class="about-container">
  <div class="about-item">
    <span class="about-section-title">{{'ABOUT.TITLE' | translate}}</span>
  </div>
  <div class="about-item">
    <div class="about-tab-header">
      <div class="about-tab-button" (click)="tabActive= 'team'">
        <span class="menu_option">Our Team</span>
        <span class="icon"><i class="material-icons">people</i></span>
      </div>
      <div class="about-tab-button" (click)="tabActive = 'youtube'">
        <span class="menu_option">Youtube API</span>
        <span class="icon"><i class="material-icons">video_library</i></span>
      </div>
    </div>
    <div class="about-tab-content">
      <image-list 
        *ngIf="tabActive === 'team'" 
        [elements]="team"
        [filterValue]="'title'"
        ></image-list>
      <about-youtube 
        *ngIf="tabActive === 'youtube'" 
        ></about-youtube>
    </div>
  </div>
</div>
