<div class="about-container">
  <div class="about-item">
    <span class="about-section-title">{{'ABOUT.TITLE' | translate}}</span>
  </div>
  <div class="about-item">
    <div class="about-tab-header">
      <div class="about-tab-button" (click)="tabActive.value = 'team'">
        <span class="menu_option">Our Team</span>
        <span class="icon"><i class="material-icons">people</i></span>
      </div>
      <div class="about-tab-button" (click)="tabActive.value = 'youtube'">
        <span class="menu_option">Youtube API</span>
        <span class="icon"><i class="material-icons">video_library</i></span>
      </div>
    </div>
    <div class="about-tab-content">
      <about-team 
        *ngIf="tabActive.value === 'team'" 
        ></about-team>
      <about-youtube 
        *ngIf="tabActive.value === 'youtube'" 
        ></about-youtube>
    </div>
  </div>
</div>
