about-main {

  .about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-top: -203px;
  }

  .about-tab-content {
    margin-top: 74px;

    .md-tab-label {
      color: white;

      .icon {
        top: 7px;
        position: relative;
      }

    }
  }

  .about-item {
    flex: 0 0 1 auto auto;
    padding: 15px;
    max-width: 1000px;
    width: 100%;

    .about-section-title {
      color: white;
      font-size: 2em;
    }
  }

}
