fs-youtube-api {
  padding: 1em;
  margin-top:0px;
  margin-bottom:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  * {
    box-sizing: border-box;
  }
  md-card {
    padding:0;
    margin: 1em 0;
    flex: 0 0 100%;
    @media screen and (min-width: 480px) {
      flex: 0 0 45%;
      margin: 1em;
    }
    border-radius: 3px;
    >div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (min-width: 480px) {
        min-height: 451px;
      }
      >span {
        display: block;
        width: 100%;
        flex: 0 0 230px;
        background-size: cover;
        background-position: center center;
      }
    }
    h3 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
      color: #5c5c5c;
      margin: 0px;
      flex:1;
    }
    > div > div {
      display: flex;
      flex-direction: row;
      padding: 32px 40px;
      >div {
        flex: 0 0 20%;
      }
      &.border {
        border-top: 1px solid #eee;
      }
    }
  }
  #youtubeSearchFilter {
    top: -33px;
    right: 0;
    position: absolute;
    color: #FFF;
  }
}
