<md-card *ngFor="let item of dataYoutube | fsYoutubeApiPipeFilterSearch:searchString; let i = index">
  <div *ngIf="item.id.videoId">
    <span [style.background-image]="'url(' + item.snippet.thumbnails.high.url + ')'"></span>
    <div>
      <h3>
        {{item.snippet.title}}
      </h3>
    </div>

    <div class="border">
      <button color="accent" md-button (click)="openDialog(item)">
        <md-icon>movie</md-icon>
        Watch
      </button>
    </div>
  </div>
</md-card>

<button id="youtubeSearchFilter" color="secondary" md-fab>
  <md-icon>search</md-icon>
</button>