<md-toolbar>
        <!--<img md-card-sm-image [src]="element.image" *ngIf="element.image !== ''">
        <i class="material-icons md-48 md-inactive" *ngIf="element.icon !== ''">{{element.icon}}</i>-->
        <span>Angular 2 Basic Features</span>
        <!--<span>{{element.title}}</span>
        <span>{{element.description}}</span>-->
        <button style="right: 15px; position: absolute;" md-icon-button (click)="dialogRef.close()"><md-icon>close</md-icon></button>
</md-toolbar>
<div style="padding:1em;" *ngIf="modalData">

    <h1>{{modalData.title}}</h1>
    <p>{{modalData.description}}</p>
    <h3>Description</h3>
    <!--
    <code>
        <pre [innerHTML]=""></pre>
    </code>
    -->
    <p>{{modalData.code}}</p>
</div>
<!--<button type="button" (click)="dialogRef.close('yes')">Yes</button>
<button type="button" (click)="dialogRef.close('no')">No</button>-->