<div class="box-search">
    <md-input #search placeholder="Search"></md-input>
 </div>
<div class="team-container">
  <div class="team-item" *ngFor="let user of dataUsers | searchPipe: search.value: 'name'">

    <md-card>
      <div class="team-item-container">
          <div class="team-item-image">
            <img md-card-avatar src="{{user.image}}">
          </div>
          <div class="team-item-text">
            <h3>{{user.name}}</h3>
            <span>{{user.description}}</span>
          </div>
          <span class="fill-remaining-space"></span>
          <a target="_blank" href="{{user.github}}" md-icon-button color="primary">
            <img class="team-item-github" src="assets/img/social_logos/logo_github_black.png">
          </a>
      </div>
    </md-card>

  </div>
</div>