fs-custom-grid-cards {
  padding: 1em;
  display: block;
  md-card {
    padding:0;
    margin: 1em;
    border-radius: 3px;
    > h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      border-bottom: 1px solid #eee;
      color: #5c5c5c;
      padding:32px 40px;
      margin-bottom: 0px;
    }
    > div {
      padding:32px 40px;
    }
  }
}
