fs-custom-grid-cards {
  padding: 0em;
  display: block;
  
  md-card {
    padding:0;
    margin: 1em;
    border-radius: 3px;
    padding:20px;
    margin-left:0;
    width:96%!important;

    .feature_title {
      color:black;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px;
      font-weight:bold;
      font-size: 1.5em;
      word-spacing: 0.2em;
    }

    .feature_description {
      color:#333;
      font-family:'Roboto';
      border-bottom: 1px solid #ddd;
      font-size:1.1em;
      padding-bottom: 32px;
      margin-bottom: 0px;
    }

    .more {
      padding: 0px;
      text-align: right;
      height: 10px;
      padding-bottom: 5px;
    }

  }
}
