// fs-grid-cards {
//   .flex-container {
//     padding: 10px;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     list-style: none;

//     display: flex;

//     flex-flow: row wrap;
//     justify-content: space-around;
//     flex-direction: row;
//   }

//   .material-icons.md-48 {
//     font-size: 60px;
//     color: #c1c1c1;
//   }

//   md-card {
//       flex: 0 0 100%;
//       display: flex;
//       min-width: 200px;
//       min-height: 150px;
//       box-sizing: border-box;
//       margin-bottom: 10px;
//       md-card-title-group {
//         flex: 1;
//       }

//       @media screen and (min-width: 480px) {
//         flex: 1 0 33%!important;
//         min-width: 200px;
//         min-height: 150px;
//         box-sizing: border-box;
//         margin-bottom: 5px;
//       }
//   }

//   .grid-title {
//     text-align: center;
//   }
// }

fs-grid-cards {
    padding: 1em;
    display: block;
    margin-top: 50px;

  .title_tech {
    margin-top:.20px;
    margin-left:20px;
    width:600px;
    color:black;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-weight:bold;
    font-size: 1.5em;
    word-spacing: 0.2em;

  }

  .description_tech {
    display: block;
    font-size: 1.1em;
    line-height: 26px;
    margin-left: 160px;
    margin-top: -70px;
  }

  .logo_tech {
    width: 100px;
    height: 100px;
    margin: 20px;
    border:0px solid white;
    margin-top:20px;
  }

  md-card {
    display: flex;
    flex-wrap: wrap;
    padding:0;
    padding-top:20px;
    margin: 1.5em;
    border-radius: 3px;

    > div {
      padding:32px 40px;
    }
  }
}
