/*styles for home content only*/
home {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1em;
  max-width: 1000px;

  .logo_angular {
    width:146px;
    height:157px;
    margin-top: -80px;
  }

  .home_slogan {

    font-size: 1.80em;
    color: white;
    font-family: Roboto;
    letter-spacing: 1px;
    word-wrap: normal;
    word-spacing: .15em;
    margin-left: 190px;
    margin-top: -46px;
    text-shadow: 2px 2px #000000

  }

  .home_title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 3.35em;
    font-weight: 600;
    font-family: Sansation;
    line-height: 56px;
    margin-top: -140px;
    margin-left: 190px;
    width: 575px;
    word-spacing: 0.3em;
    word-wrap: normal;
    text-shadow: 2px 2px #000000
  }

  md-tab-body-wrapper {
    margin-top:50px;
  }
  .md-tab-header {
    border-bottom: 0px;
    color: #FFF;
    .md-tab-label {
      opacity: 1;
      position: relative;
    }
    .text {
      padding-right: 10px;
    }
    .icon {
      position: absolute;
      top: 6px;
      right: 10px;
      display: none;
      @media screen and (min-width: 480px) {
        display: block;
      }
    }
    md-ink-bar {
      height: 4px;
    }
  }
}
