home-features {
  padding: 0em;
  display: block;
  margin-bottom:150px;
  margin-top:50px;
  
  md-card {
    border-radius: 3px;
    margin: 1em;
    margin-left:0;
    padding-left: 0px;
    padding-top:40px;
    width:96%!important;

    h3 {
      margin-left:40px;
      margin-bottom:50px;
    }

    .feature_title {
      color:black;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1px;
      font-weight:bold;
      font-size: 1.5em;
      word-spacing: 0.2em;

    }

    .feature_description {
      color:#777;
      font-family:'Roboto';
      font-size:0.9em;
      padding-bottom: 32px;
      margin-bottom: 0px;
      text-transform: lowercase;
      font-weight:400;
      letter-spacing:0px;
    }

    .more {
      border-top: 1px solid #eee;
      padding-top: 20px;
      width: 102.5%;

      button {
        margin-left:20px;
      }

    }

  }
}

.md-overlay-pane {
  .md-dialog-container {
    height: 90vh;
    width: 90vw;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #ffffff;
    overflow: visible;

    md-toolbar {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #999;
    }
    code {
      span {
        display: block;
      }
    }
  }
}
