
no-content {
  position:relative;
  left:0px;

  .no-content__message {
    color: white;
    font-size: 6em;
    margin-top: 0px;
    margin-bottom: 300px;
  }

  p {
    color: black;
    font-size:3em;
    margin-bottom: 250px;
  }

}








