
no-content {
  display: flex;
  color: black;
  section {
    flex: 1;
    text-align: center;
    padding: 1em;
    .no-content__message {
      font-size: 4em;
      margin-top: 0px;
    }

    p {
      font-size:2em;
      margin-bottom: 50px;
    }

  }
  
}








