.lists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}

.list-item-image {
  flex: 0 0 1 auto auto;
  width: 100px;

  img {
    margin-top: 20px;
    width: 80px;
  }
  i {
    font-size: 63px;
    margin-top: 19px;
    color: #e4062b;
  }
}

.list-item-text {
  flex: 0 0 1 auto auto;
  width: 100%;
  padding-left: 20px;
}
