@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
}

app-shell {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  md-sidenav-layout {
    flex:1;
  }
  .app-toolbar-filler {
    flex: 1 1 auto;
  }

  main {
    margin: -170px 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    .md-tab-body-content {
      transition: all 0 ease;
    }
  }
}
span.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

span.active {
  background-color: gray;
}



