.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    
    background-color: #263238;
    color: white;
}

.flex-item {
    flex: 0.33;
    padding: 15px;
    min-width: 200px;
    text-align: center;
}

.social-flex-item {
    flex: 1;
    padding: 5px;
    text-align: center;

    img {
        width: 30px;
        height: 30px;
    }
}

.link {
    color: white;
    text-decoration: none;
}