<aside #sidenav class="sidenav" [ngClass]="{'sidenav-open': sidenav.open}">
    
    <span class="sidenavHeader">
        <figure>
        </figure>
        <figcaption>
            <span>Front Stack</span>
        </figcaption>
    </span>
    <div class="sidenavList">
        <a 
        md-button
        [routerLink]="routes.HOME.path" 
        routerLinkActive="active" 
        (click)="sidenav.open = !sidenav.open">Home </a>
        <a 
        md-button
        [routerLink]="routes.ABOUT_US.path" 
        routerLinkActive="active" 
        (click)="sidenav.open = !sidenav.open">About Us</a>
        <a 
        md-button
        [routerLink]="routes.NO_CONTENT.path" 
        routerLinkActive="active" 
        (click)="sidenav.open = !sidenav.open">No page found</a>
    </div>
</aside>

<span class="shellBackground">
  <div>
    <button md-button class="app-icon-button" (click)="sidenav.open = !sidenav.open">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="angular_basic_logo">Angular2 Basic</span>
    <span class="app-toolbar-filler"></span>
  </div> 
</span>