.logo-angular {
  display: block;
  margin: auto;
  width: 100px;
  margin-top: 15px;
}

.logo-name {
  top: 17px;
  margin: auto;
  display: block;
  width: 270px;
}

.logo-title {
  color: #FFF;
  font-size: 2.35em;
  font-weight: 100;
  margin: auto;
}

.logo-slogan {
  color: #9c9c9c;
  float: right;
  margin-right: 10px;
}