@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: 'Sansation';
  src: url('./assets/fonts/Sansation_Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html, body {
  height: 100%;
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 100%;
  margin: 0;
}
body {
  display: flex;
}

app-shell {
  flex: 1;
  display: flex;
  flex-direction: row;
  md-sidenav {
    width: 300px;
    .sidenavHeader {
      background: url('/assets/img/sidenav.png');
      width: 100%;
      height: 240px;
      background-size: cover;
      display:flex;
      background-position: top center;
      color: #FFF;
      position: relative;
      flex-direction: column;
      figure {
        margin: 0;
        flex: 0 0 50%;
        display: flex;
        md-icon {
          font-size: 5em!important;
          height: 100%;
          width: 100%;
          text-align: center;
          line-height: 120px!important;
        }
      }
      figcaption {
        text-align: center;
        position: relative;
      }
      >md-icon {
        width: 100%;
        flex: 1;
        text-align: center;
        line-height: 100px!important;
        font-size: 5em!important;
      }
    }
    .sidenavList {
      display: flex;
      flex-direction: column;
      a {
        text-align: left!important;
        color: #000!important;
        padding: 0.2em 2em!important;
      }
    }
  }
  md-sidenav-layout {
    flex:1;
  }
  .app-toolbar-filler {
    flex: 1 1 auto;
  }
  .shellBackground {
    background: url('/assets/img/background.png');
    width: 100%;
    height: 320px;
    background-size: cover;
    display:block;
    background-position: top center;

    md-toolbar {
      background: transparent; 
      color: #FFF;
      font-weight:600;
      letter-spacing:1px;
      word-spacing:0.2em;
      font-family: 'Sansation';
      text-transform: uppercase;
    }
  }

  .developed_frontstack {
    position:absolute;
    right:30px;
    top:0px;
    color:#ddd;
    font-family:'Roboto';
    text-transform: none;
    font-size:0.7em;
  }

  main {
    margin: -170px 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    .md-tab-body-content {
      transition: all 0 ease;
    }
  }
}
span.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

span.active {
  background-color: gray;
}

.webpack-starter md-card{
  width: 300px;
}
.webpack-starter .wide-card{
  width: 400px;
}

.md-tab-body-wrapper, .md-tab-body {
  overflow: visible!important;
}

.md-overlay-pane {
  .md-dialog-container {
    transition: all 0.4s ease;
    height: 90vh;
    width: 90vw;
    transform:scale(0.2);
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #4DD0E1;
    overflow: visible;
    &.openAnimated {
      transform: scale(1);
    }
    md-toolbar {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #26C6DA;
    }
    code {
      span {
        display: block;
      }
    }
  }
}



/********** FOOTER *********************************************************************/

.core-layout__main {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -175px; 
}

.core-layout__main:after {
  content: "";
  display: block;
}

.footer-container, .core-layout__main:after {
  /* .push must be the same height as footer */
	height: 195px; 
}

.footer-container{
	position:relative;
	width:100%;
	background:#263238;
	font-family:"Roboto";
	font-size:1em;
	color:white;
	display:flex;
	flex-direction:row;
	flex-flow:row wrap;
	justify-content: space-around;
	flex:0 0 auto;
	box-sizing:border-box;
	margin-top:170px;
  padding: 10px;
  margin: 0px;

}

.flex-column{
    flex: 0 0 12%;
    min-width: 200px;
    min-height: 150px;
    box-sizing: border-box;

  @media screen and (min-width: 480px) {
    flex: 0 0 12%;
    min-height: 120px;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
}

.flex-column.one {
    flex: 0 0 6%;

    @media screen and (min-width: 480px) {
      flex: 0 0 6%;
    }

}

.flex-column.two {
    flex: 0 0 15%;

    @media screen and (min-width: 480px) {
      flex: 0 0 15%;
    }

}

.flex-column.four {
    flex: 0 0 22%;

    @media screen and (min-width: 480px) {
      flex: 0 0 22%;
    }



}

.flex-column.five {
    flex: 0 0 18%;
    color:#fff;

    @media screen and (min-width: 480px) {
      flex: 0 0 18%;
    }

}

.link_extern, .text-body p { 
	color:#fff;
	text-decoration:none;
	font-family:'Roboto';
  font-size:1em;
}

.social_logos {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
  padding-left:0px;
  padding-right:0px;
}

.text-headline {
  letter-spacing:1px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
}

.text-body {
  padding-left:0px;
  padding-right:0px;
}

li { list-style-type: none; font-size:1em}

