<md-sidenav-layout>

  <md-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
    <span>
        <figure>
          <md-icon>account_circle</md-icon>
        </figure>
        <figcaption>
            <span>Front Stack</span>
        </figcaption>
        <md-icon>code</md-icon>
    </span>

    <div>
        <a md-button md-ripple [routerLink]=" ['./home'] " (click)="sidenav.toggle()" >Home</a>
        <a md-button md-ripple [routerLink]=" ['./about'] " (click)="sidenav.toggle()" >About</a>
        <a md-button md-ripple [routerLink]=" ['./nopagefound'] " (click)="sidenav.toggle()" >No page found</a>
    </div>
  </md-sidenav>
  <span class="shellBackground">
      <md-toolbar>
        <button md-button class="app-icon-button" (click)="sidenav.toggle()">
          <i class="material-icons app-toolbar-menu">menu</i>
        </button>
				<img style="width:50px;height:50px" src="./assets/img/angular_whiteTransparent.png">
        <span class="angular_basic_logo">Angular2 Basic</span>
        <span class="app-toolbar-filler"></span>

      </md-toolbar>
    </span>
  <main class="core-layout__main">

    <!-- Container of our app, used to load lazy load modules -->
    <router-outlet></router-outlet>

  </main>
 		<div class="footer-container">

			<div class="flex-column one"> 
        <img style="width:150px;height:150px" src="./assets/img/angular_whiteTransparent.png">
			</div>
			<div class="flex-column two"> 
          <h3 class="text-headline">ABOUT US</h3>
          <p>
              Consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt 
              ut labore et dolore magna aliqua.                          
          </p>
			</div>

			<div class="flex-column three"> 
            	<h3 class="text-headline">RESOURCES</h3>
            	<ul class="text-body">
                	<li><a target="_blank" class="link_extern" href="https://github.com/johnpapa/angular-styleguide/blob/master/a2/README.md">Angular2 Style Guide</a></li>
                	<li><a target="_blank" class="link_extern" href="https://blog.budacode.com/2016/06/27/angular-2-best-practises/">Angular2 Best Practices</a></li>
                	<li><a target="_blank" class="link_extern" href="https://github.com/angular/angular/issues">Report Issues</a></li>
                	<li><a target="_blank" class="link_extern" href="http://stackoverflow.com/questions/tagged/angular2">Stack Overflow</a></li>
            	</ul>
			</div>

			<div class="flex-column four"> 
        		<h3 class="text-headline">CONTRIBUTE THE CODE</h3>
            	<ul class="text-body">
                	<li>
                    	<p>
                        	Consectetur adipiscing elit, 
                        	sed do eiusmod tempor incididunt 
                        	ut labore et dolore magna aliqua.                          
                    	</p>
                	</li>
	                <li><a target="_blank" class="link_extern" href="https://github.com/serenity-frontstack/angular2-basic">https://github.com/serenity-frontstack/angular2-basic</a></li>
            	</ul>
			</div>

			<div class="flex-column five"> 
            	<h3 class="text-headline">SOCIAL MEDIA NETWORK</h3>
            	<ul class="social_logos">
                	<li><a target="_blank" href="https://twitter.com/serenityfront"><img src="./assets/img/social_logos/logo_twitter.png"></a></li>
                	<li><a target="_blank" href=""><img src="./assets/img/social_logos/logo_google.png"></a></li>
                	<li><a target="_blank" href="https://www.youtube.com/channel/UCVKdSP47XahRYJpvfA7inmg"><img src="./assets/img/social_logos/logo_youtube.png"></a></li>
                	<li><a target="_blank" href="https://github.com/serenity-frontstack"><img width="60" height="60" src="./assets/img/social_logos/github.png"></a></li>
            	</ul>
			</div>

		</div>

</md-sidenav-layout>
